.comments__comment-image {
    margin: 0 0 42px 0;
    width: 97px;
    height: 97px;
    border-radius: 48.5px;
}

@media screen and (max-width: 1023px) {
    .comments__comment-image {
        margin: 0 0 16px 0;  
        order: 1;
    }  
}